@model SampleMVCApp.Models.SampleRemitaPost

@{
    ViewBag.Title = "ProcessPayment";
}

<h2>ProcessPayment</h2>


<form method="post" action= "http://www.remitademo.net/remita/ecomm/init.reg", id="remitaPayform">

    
    <div class="form-horizontal">
        <h4>Please wait while we handle your request!</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.HiddenFor(model => model.MerchantId, new { htmlAttributes = new { @class = "form-control" } })

                @Html.HiddenFor(model => model.Hash, new { htmlAttributes = new { @class = "form-control" } })

                @Html.HiddenFor(model => model.ResponseUrl, new { htmlAttributes = new { @class = "form-control" } })

                @Html.HiddenFor(model => model.RemitaPaymentType, new { htmlAttributes = new { @class = "form-control" } })

                @Html.HiddenFor(model => model.OrderId, new { htmlAttributes = new { @class = "form-control" } })
        
                @Html.HiddenFor(model => model.PayerEmail, new { htmlAttributes = new { @class = "form-control" } })

                @Html.HiddenFor(model => model.PayerName, new { htmlAttributes = new { @class = "form-control" } })
        
                @Html.HiddenFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })

                @Html.HiddenFor(model => model.PayerPhone, new { htmlAttributes = new { @class = "form-control" } })

                @Html.HiddenFor(model => model.ServiceTypeId, new { htmlAttributes = new { @class = "form-control" } })

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
   
}

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#remitaPayform").submit()
    })

</script>
